*, body {
    font-family: 'Mitr' !important;
}

// Custom fonts
@font-face {
    font-family: "SVN-SAF";
    src: local("SVN-SAF"),
     url(~assets/fonts/SVN-SAF.ttf) format("truetype");
}

@font-face {
    font-family: "iCiel Stabile";
    src: local("iCiel Stabile"),
     url(~assets/fonts/Stabile-Regular.ttf) format("truetype");
}

.flipVertical {
    transform: rotate(180deg);
}

.custom-font {
    font-family: 'Mitr' !important;
}

.custom-font-2 {
    font-family: 'SVN-SAF' !important;
}

.custom-font-3 {
    font-family: 'iCiel Stabile' !important;
}

.default-text-color {
    color: #882900;
}


.linear-gradient-1 {
    background: -webkit-linear-gradient(#F39C09
    , #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-text-wd {
    font-family: Mitr;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    // -webkit-text-stroke: 1px #741E00; 
    text-shadow: -2px -2px 0 #741E00,  
        2px -2px 0 #741E00,
        -2px  2px 0 #741E00,
        2px  2px 0 #741E00;

}

.full-h {
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.pointer-simple {
    cursor: pointer;
}

.pointer:hover {
    text-shadow: -2px -2px 0 #741E00,  
        2px -2px 0 #741E00,
        -2px  2px 0 #741E00,
        2px  2px 0 #741E00;
}
